@CHARSET "UTF-8";
@font-face { 
  font-family: AdobeHeitiStd-Regular; /*这里是说明调用来的字体名字*/ 
  src: url('AdobeHeitiStd-Regular.otf'); /*这里是字体文件路径*/ 
} 
@font-face { 
  font-family: PingFang-SC-Regular; /*这里是说明调用来的字体名字*/ 
  src: url('PingFang-SC-Regular.ttf'); /*这里是字体文件路径*/ 
} 
[v-cloak] {
  display: none;
}
img[src=""]{  
    opacity: 0;  
}  
html{
	height: 100%;
}
body {
    min-width: 1240px;
    height: inherit;
    word-break: break-all;
    word-wrap: break-word;
}
.row, #nav-left, #myScrollspy{
	height: inherit;
}
p {
    margin: 0;
}

a {
    color: #95A0AA;
    text-align: center;
}
#nav-left>div{
    width:100%;
}
#myScrollspy{
    background: #222;
    padding: 0; 
    width: 90%;
}
.nav-pills>li>a {
    border-radius: 0px;
}
#myScrollspy>ul a:focus, #myScrollspy>ul a:hover {
    color: #fff;
    background-color: #1FB5AD;
}
.navClicked{
	color: #fff !important;
    background-color: #1FB5AD;
}
.layui-layer-btn .layui-layer-btn0 {
    border-color: #1FB5AD;
    background-color: #1FB5AD;
    color: #fff;
}
